.menumobile {
  position: relative;
  display: none;
  align-items: center;
  height: 0;
}

.menumobile .btn-menu {
  padding: 3px;
  border: 1px solid transparent;
  border-radius: 100px;

  &:focus {
    border: var(--thin-border);
  }
}

.menumobile .btn-menu .icon svg {
  font-size: 1.8rem;
  color: var(--light-dark);
}

.menumobile .btn-menu .icon .hidden {
  display: none;
}

.menumobile .content {
  position: fixed;
  display: flex;
  flex-direction: column;
  left: 0;
  top: 60px;
  width: 100%;
  height: 0;
  z-index: 999;
  opacity: 0;
  transition: 0.3s ease;
}

.menumobile .content.open {
  height: 100dvh;
  background-color: #0000008c;
  backdrop-filter: blur(4px);
  margin-top: 20px;
  opacity: 1;
}

.menumobile .content nav {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-block: 0;
  opacity: 0;
  transition: 0.3s ease;
  background-color: var(--bg-sec);
}

.menumobile .content nav.open {
  visibility: visible;
  opacity: 1;
  padding-block: 30px;
}

.menumobile .content .link,
.menumobile .content .github {
  width: 100%;
  justify-content: left;
  padding: 15px 30px;
  color: var(--light-dark);
  text-decoration: none;
  display: flex;
  align-items: center;
}

.menumobile .content .link:hover,
.menumobile .content .link:focus,
.menumobile .content .github:hover,
.menumobile .content .github:focus {
  background-color: var(--card);
}

.menumobile .content .link.active {
  background-color: var(--bg);
}

.menumobile .content .github {
  background-color: var(--black);
  width: calc(100% - 65px);
  margin: 0 30px;
  border-radius: 0.5rem;
  justify-content: center;
  margin-top: 10px;
}

.menumobile .content .github svg,
.menumobile .content .github p {
  color: var(--white);
}

@media (width <= 924px) {
  .menumobile {
    display: flex;
  }
}

@media (width >= 925px) {
  .menumobile {
    display: none;
  }
}
