.hero {
  margin: auto;
  margin-top: 50px;
  width: 100%;
  height: 50dvh;
  display: flex;
  padding: 0 30px;
  text-align: center;
  align-items: center;
}

.hero .content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}

.hero .content .tag_ {
  margin: auto;
}

.hero .content h1 {
  margin: auto;
  font-size: clamp(1.5rem, 4vw, 3.2rem);
  font-weight: 500;
  width: 100%;
  max-width: 980px;
}

.hero .content .text {
  margin: auto;
  width: 100%;
  max-width: 800px;
}

.hero .content .user-github .tt {
  font-weight: 400;
}

.hero .content .star-github {
  margin: auto;
  font-weight: 500;
  background-color: var(--bg-sec);
  padding: 10px 20px;
  border-radius: var(--radius);
  color: var(--white);

  & svg {
    color: var(--white);
  }
}

@media (width <= 356px) {
  .hero {
    margin-top: 30px;
    padding: 0 20px;
  }
}

@media (width <= 281px) {
  .hero .tag_,
  .hero .tag_ svg {
    font-size: 0.7rem;
  }
}
