.hero {
  margin: auto;
  width: 100%;
  height: 50dvh;
  display: flex;
  padding: 0 30px;
  text-align: center;
  align-items: center;
}

.hero .content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.hero .tag_ {
  margin: auto;
}

.hero .text {
  margin: auto;
  width: 100%;
  max-width: 800px;
}

.hero .btn {
  gap: 30px;
  display: none;
}

.hero h1 {
  font-size: clamp(1.5rem, 5vw, 3.3rem);
  font-weight: 800;
}

.hero .btn button {
  border-radius: 100px;
  padding: 10px 20px;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 1;
  }
}

.hero .btn .txunar {
  &:hover .icon {
    transform: translateX(10px);
  }
}

.hero .btn .github {
  border: var(--thin-border);
  background-color: var(--black);
  color: var(--foreground);

  & .icon svg {
    color: var(--foreground);
  }
}

@media (width <= 356px) {
  .hero {
    margin-top: 30px;
    padding: 0 20px;
  }
}

@media (width <= 281px) {
  .hero .tag_,
  .hero .tag_ svg {
    font-size: 0.7rem;
  }
}
