.readme {
  display: flex;
  gap: 30px;
}

.readme .container {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 20px;
  border: var(--thin-border);
  padding: 30px;
  border-radius: 10px;
  height: fit-content;
}

.readme .container:nth-child(2) {
  max-width: 530px;
}

.readme .container .content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.readme .container .content .box {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.readme .container .input-box,
.readme .container .content .box .input-box {
  display: flex;
  gap: 20px;
  flex-direction: column;
  width: 50%;
}

.readme .container .input-box {
  width: 100%;
}

.readme .container .input-box .user-input {
  max-width: 100%;
}

.readme .container .content .box .input-box {
  gap: 10px;
}

.readme .container .input-box label {
  text-wrap: nowrap;
}

.readme .container .input-box label span {
  color: var(--destructive);
}

.readme .container .input-box input,
.readme .container .input-box select {
  background-color: var(--muted);
  border: var(--thin-border);
  padding: 10px 20px;
  border-radius: var(--radius);
  color: var(--foreground);

  &:focus {
    border: 1px solid var(--foreground);
  }
}

.readme .container .content .bag-code {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (width <= 1352px) {
  .readme {
    padding: 0 20px;
  }
}

@media (width <= 1172px) {
  .readme .container .content .box {
    flex-direction: column;
  }

  .readme .container .content .box .input-box {
    width: 100%;
  }
}

@media (width <= 1028px) {
  .readme {
    flex-direction: column;
  }

  .readme .container .content .box {
    flex-direction: row;
  }

  .readme .container:nth-child(2),
  .readme .container .content .bag-code code {
    max-width: 100%;
  }

  .readme .container .content .bag-code figure,
  .readme .container .content .bag-code img {
    width: 100%;
  }
}

@media (width <= 1028px) {
  .readme {
    flex-direction: column-reverse;
  }

  .readme .container .content .box {
    flex-direction: column;
  }
}

@media (width <= 430px) {
  .readme .container {
    padding: 20px;
  }
}
