.header {
  margin: auto;
  position: fixed;
  width: 100%;
  max-width: 1300px;
  top: 0;
  z-index: 9999;
  padding: 20px 30px;
  display: flex;
  justify-content: end;
  gap: 40px;
  background-color: var(--bg);
}

.header nav ul {
  flex-direction: row;
  gap: 20px;
}

.header nav ul li button {
  &:hover {
    color: var(--foreground);
  }
}

.header nav ul li button.active {
  color: var(--foreground);
}

.header .btn .github {
  &:hover .icon svg {
    color: var(--foreground);
  }
}
