.header {
  margin: auto;
  position: fixed;
  width: 100%;
  max-width: 1300px;
  top: 0;
  z-index: 9999;
  padding: 30px;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 40px;
  background-color: var(--bg);
}

.header nav ul {
  flex-direction: row;
  gap: 20px;
}

.header nav ul li button {
  &:hover,
  &:focus {
    color: var(--light-dark);
  }
}

.header nav ul li button.active {
  color: var(--light-dark);
}

.header .btn .github {
  &:hover .icon svg,
  &:focus .icon svg {
    color: var(--light-dark);
  }
}

@media (width <= 944px) {
  .header nav,
  .header .btn .github {
    display: none;
  }
}
