.ir-para-top {
  position: fixed;
  bottom: 30px;
  right: 20px;
  background-color: var(--bg-sec);
  padding: 10px;
  border-radius: 100px;
  opacity: 0;
  transform: translateY(40px);
  border: 1px solid transparent;

  transition:
    opacity 0.3s ease,
    transform 0.3s ease;

  &:hover {
    border: var(--thin-border);
    background-color: var(--muted);
    & svg {
      color: var(--light-dark);
    }
  }
}

.ir-para-top.visivel {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

@media (width <= 425px) {
  .ir-para-top {
    bottom: 20px;
    right: 20px;
  }
}
